<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/paul">Paul</a></li>
        <li><a href="/brenda">Brenda</a></li>
        <li><a href="/kayla">Kayla</a></li>
        <li><a href="/kim">Kim</a></li>
        <li><a href="/dee">Dee</a></li>

    </ul>
</nav>