<!-- header -->
<%- include partials/header.ejs %>

<div class="center">
    <h1>Brenda</h1>
    <p>Brenda is my mother. Her and I lot alot alike. One occasion, I was asked why a picture of me was on her birthday cake.(It was a image of my mom)</p>
</div>
<!-- Footer -->
<%- include partials/footer.ejs %>