<!-- header -->
<%- include partials/header.ejs %>

<div class="center">
    <h1>Dee</h1>
    <p>Dee is the youngest sister. She did a crash course in dental hygiene and is not working in the field.</p>
</div>

<!-- Footer -->
<%- include partials/footer.ejs %>