<!-- header -->
<%- include partials/header.ejs %>

<div class="center">
    <h1>Kim</h1>
    <p>Kim is the middle sister, she studied medical in the states and is looking to become a vet.</p>
</div>

<!-- Footer -->
<%- include partials/footer.ejs %>