<!-- header -->
<%- include partials/header.ejs %>

<div class="center">
    <h1>Paul</h1>
    <p>My father name is paul. He is the only male in the family (even for pets).</p>
</div>
<!-- Footer -->
<%- include partials/footer.ejs %>